body {
    font-family: Arial, Helvetica, sans-serif;
    

}

.menu {
    background-color: rgba(78, 0, 167, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 55px;
    border-radius: 25px;
    color: #fff;
}

input {
    padding: 8px;
    border: 12px;
    outline: 10;
    font-size: 15px;
    border-radius: 25px;
}

button {
    background-color: rgba(14, 45, 77,0.7);
    border: 12px;
    padding: 10px;
    width: 50%;
    border-radius: 2px;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    font-size: 18px;
    
}

button:hover {
    background-color: rgba(0, 128, 255, 0.7);
    cursor: pointer;
}

select {
    padding: 3px;
    border-radius: 25px;
    border: 12px;
    outline: 10px;
}


span
{
    color: white;
    font-size: 15px;
    border-radius: 25px;
    
}
 
img
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(180%, -428%);
    max-height:70px;
  
}   
